{{ define "banner" }}
{{ partial "banner.html" .Params }}
{{ end }}

{{ define "main" }}
<section class="rf-section rf-section--territories-single">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div>
        {{ .Content }}

        <h4>Demande de simulation simple</h4>

        <form>
          <ol class="step">
            <li class="step"><strong style="line-height: 50px">Sélectionnez le type de campagne d’incitation privilégié pour votre territoire</strong>
              <div class="rf-section">
                <div class="rf-input-group" style="display: flex; justify-content: space-between; align-items: baseline">
                  <div class="rf-radio-group">
                    <input type="radio" id="radio1" name="radio">
                    <label class="rf-label hover-background-grey campaign-wrapper" style="align-items: flex-start;" for="radio1">
                      <div>
                        <div style="text-align: left; font-weight: bold">Modèle Île-de-France Mobilités</div>
                        <div style="direction: ltr; margin-top: 45px;">
                          <div>
                            <div>Trajets éligibles :</div>
                            <ul class="campaign-details">
                              <li>Trajets avec origine OU destination sur le territoire</li>
                              <li>Trajets de plus de 2 km</li>
                              <li>Campagne multi-opérateurs</li>
                              <li>Classes de preuve B et C</li>
                            </ul>
                          </div>
                          <div>
                            <div>Incitation :</div>
                            <ul class="campaign-details">
                              <li>De 2 à 20 km : 2 euros par trajet</li>
                              <li>A partir de 20 km: 0,10 euro par trajet par km</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </label>
                  </div>
                  <div class="rf-radio-group">
                    <input type="radio" id="radio2" name="radio">
                    <label class="rf-label hover-background-grey campaign-wrapper" style="align-items: flex-start;" for="radio2">
                      <div>
                        <div style="text-align: left; font-weight: bold">Modèle Nantes Métropole</div>
                        <div style="direction: ltr; margin-top: 45px;">
                          <div>
                            <div>Trajets éligibles :</div>
                            <ul class="campaign-details">
                              <li>Trajets avec origine ET destination sur le territoire</li>
                              <li>Trajets de plus de 2 km</li>
                              <li>Campagne multi-opérateurs</li>
                              <li>Classes de preuve B et C</li>
                            </ul>
                          </div>
                          <div>
                            <div>Incitation :</div>
                            <ul class="campaign-details">
                              <li>De 2 à 15 km: 1,50 euros par trajet par passager</li>
                              <li>De 15 à 30 km: 0,10 euro par trajet par km par passager</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </label>
                  </div>
                  <div class="rf-radio-group">
                    <input type="radio" id="radio3" name="radio">
                    <label class="rf-label hover-background-grey campaign-wrapper" style="align-items: flex-start;" for="radio3">
                      <div>
                        <div style="text-align: left; font-weight: bold">Modèle Laval</div>
                        <div style="direction: ltr; margin-top: 45px;">
                          <div>
                            <div>Trajets éligibles :</div>
                            <ul class="campaign-details">
                              <li>Trajets avec origine ET destination sur le territoire</li>
                              <li>Trajets de plus de 2 km</li>
                              <li>Campagne multi-opérateurs</li>
                              <li>Classes de preuve B et C</li>
                            </ul>
                          </div>
                          <div>
                            <div>Incitation :</div>
                            <ul class="campaign-details">
                              <li>A partir de 2 km: 0,50 euros par trajet par passager</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </li>

            <li class="step">
              <strong style="line-height: 50px">Saisissez le territoire concerné et les coordonnées du destinataire</strong>
              <div class="rf-section" style="max-width: 600px; margin: auto; padding: 10px">
                <div style="margin-top: 8px">
                  <div style="position: relative">
                    <label class="rf-label" for="territory">
                      Territoire (EPCI, AOM, Région) sur lequel faire la simulation
                    </label>
                    <input id="search-territory" class="rf-input" placeholder="Rechercher" type="text"
                      id="territory-input" name="territory">
                    <img id="territories-loader" class="display-none" src="images/icons/loader-3-line.svg"
                      alt="Recherche des territoires" style="position: absolute; top: 39px; right: 9px; z-index: 1000">
                  </div>
                  <div id="territory-list" class="territory-list display-none">
                  </div>
                </div>

                <div>
                  <div class="rf-input-group mt-2em">
                    <label class="rf-label" for="name">Nom</label>
                    <input class="rf-input" type="text" id="name" name="name" minlength="1" maxlength="256" />
                  </div>
                  <div class="rf-input-group">
                    <label class="rf-label" for="firstname">Prénom</label>
                    <input class="rf-input" type="text" id="firstname" name="firstname" minlength="1" maxlength="256" />
                  </div>
                  <div class="rf-input-group">
                    <label class="rf-label" for="position">Poste</label>
                    <input class="rf-input" type="text" id="position" name="position" minlength="1" maxlength="256" />
                  </div>
                  <div class="rf-input-group">
                    <label class="rf-label" for="email">Email</label>
                    <input class="rf-input" type="text" id="email" name="email" minlength="1" maxlength="256" />
                  </div>
                </div>
              </div>
            </li>
          </ol>

          <div class="rf-input-group h-text-center">
            <button id="submit-form-button" type="submit" class="rf-btn" disabled>Recevoir la simulation</button>
          </div>
          <div class="h-text-center">
            <small>Le récapitulatif va vous sera transmis directement par email.</small>
            <br />
            <small>Vérifiez vos filtres et vos courriers indésirables si vous ne le recevez pas rapidement.</small>
          </div>

          <div id="form-feedback" class="rf-alert rf-alert--success">
            <div>
              <h6 id="form-feedback-title">Erreur</h6>
              <p id="form-feedback-message">Une erreur s'est produite.</p>
            </div>
          </div>
        </form>

        <h4 style="margin-top: 5em">Demande de simulation complexe</h4>
        <div>
          <a href="/nous-contacter/">Contactez l'équipe RPC</a>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="js/axios.min.js"></script>
<script>

  var apiURL = '{{ .Site.Params.apiURL | safeHTML }}';
  var territoriesDiv = document.querySelector('#territory-list')
  var submitButton = document.querySelector('#submit-form-button')
  var searchInput = document.querySelector('#search-territory')
  var territoryLoader = document.querySelector('#territories-loader')
  var form = document.forms[0];

  document.addEventListener('click', function () {
    territoriesDiv.classList.add('display-none')
  })

  function getFormData() {
    var fd = new FormData(form);

    var data = Object.create(null);
    for (const [key, value] of fd.entries()) {
      if (value && value.length) data[key] = value;
    }
    return data
  }

  function isFormValid(data) {
    return "email" in data && data.email !== "" && 
    "name" in data && data.name !== "" && 
    "firstname" in data && data.firstname !== "" && 
    "position" in data && data.position !== "" &&
    "radio" in data && (data.radio === 'on') &&
    searchInput.getAttribute('insee') && 
    searchInput.getAttribute('insee') !== ""
  }

  form.addEventListener("input", function (e) {
    var data = getFormData()
    submitButton.disabled = !isFormValid(data)
  })

  var isSubmitting = false;

  submitButton.addEventListener("click", function (e) {
    e.preventDefault();

    if(isSubmitting) {
      console.debug('ignore submit, currently submiting')
      return;
    }
    isSubmitting = true

    var delay = 5000;
    var timer = null;
    var el = document.getElementById("form-feedback");

    function show(title, message, type) {
      clearTimeout(timer);
      document.getElementById("form-feedback-title").innerText = title;
      document.getElementById("form-feedback-message").innerText = message;
      el.className = "rf-alert rf-alert--" + type + " shown";
      setTimeout(function () {
        hide();
      }, delay);
    }

    function hide() {
      clearTimeout(timer);
      el.classList.remove("shown");
    }

    var formData = getFormData()

    var payload = {
      name: formData.name,
      firstname: formData.firstname,
      job: formData.position,
      email: formData.email,
      territory_name: searchInput.getAttribute('name'),
      simulation: {
        territory_insee: searchInput.getAttribute('insee'),
        policy_template_id: document.querySelector('input[name="radio"]:checked').id.slice(5,6)
      }
    }

    axios({
      url: apiURL + "/policy/simulate",
      method: "POST",
      data: payload,
      headers: {
        Accept: "application/json",
        "Content-type": "application/json",
      },
    })
      .then(function (response) {
        document.forms[0].reset();
        show("Merci !", "Votre demande de simulation a bien été envoyé", "success");
        submitButton.disabled = true
        setTimeout(function() {
          isSubmitting = false;
        }, 5000)
      })
      .catch(function (error) {
        console.error(error.response);
        isSubmitting = false;
        show("Erreur", "Une erreur est survenue lors de la simulation", "error");
      });
  });

  var isTicking = false;
  var ticker;

  function searchTerritorriesAction(e) {

    if (!searchInput.value || (searchInput.value && searchInput.value.length < 3)) {
      return
    }

    if (isTicking) {
      clearTimeout(ticker)
    }

    ticker = setTimeout(function () {
      clearTerritoryList()
      territoryLoader.classList.remove('display-none')
      searchTerritories()
    }, 400);

    isTicking = true;

    function clearTerritoryList() {
      while (territoriesDiv.firstChild) {
        territoriesDiv.removeChild(territoriesDiv.lastChild)
      }
    }

    function searchTerritories() {
      axios({
        url: apiURL + "/geo/search",
        method: "POST",
        data: {
          search: searchInput.value,
          exclude_coms: true
        },
        headers: {
          Accept: "application/json",
          "Content-type": "application/json",
        },
      })
        .then(function (response) {
          var territoryResponse = response.data.result.data

          for (let i = 0; i < territoryResponse.length; i++) {
            var htmlElement = document.createElement('div')
            htmlElement.classList.add('territory-list-element')
            htmlElement.innerHTML = territoryResponse[i].name + '  (' + territoryResponse[i].type + ')'
            htmlElement.addEventListener('click', function (e) {
              searchInput.value = htmlElement.innerText
              searchInput.setAttribute('insee', territoryResponse[i].insee)
              searchInput.setAttribute('name', territoryResponse[i].name)
              territoriesDiv.classList.add('display-none')
            });
            territoriesDiv.appendChild(htmlElement)
          }
          territoriesDiv.classList.remove('display-none')
          territoryLoader.classList.add('display-none')
        })
        .catch(function (error) {
          console.error(error)
        });
    }
  }

  searchInput.addEventListener('input', searchTerritorriesAction)

</script>

{{ partial "vousetes.html" . }}
{{ end }}
