@import "variables";
@import "./helpers.scss";
@import "./card.scss";
@import "./testimonials.scss";
@import "./header.scss";
@import "./partners.scss";
@import "./footer.scss";

.rf-section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.rf-btn {
  border-radius: 20px;
  box-shadow: none;
}

// remove 'external-link' icon from buttons
a[target="_blank"].rf-btn {
  &::after {
    content: none;
  }
}

a.rf-link--outline {
  box-shadow: inset 0 0 0 1.3px currentColor;
}

.rf-section--bf500 {
  background-color: var(--bf500);
  &,
  .title {
    color: var(--w-bf500);
  }
  .rf-btn {
    background-color: var(--focus);
  }
  .rf-btn--secondary {
    background-color: var(--transparent);
    color: var(--w-bf500);
    box-shadow: inset 0 0 0 1px var(--w-bf500);
  }
}

.rf-section--banner {
  @extend .rf-section--bf500;
  padding-top: 6em;
  padding-bottom: 3em;
  .actions .rf-btn {
    margin: 0.5em;
  }
  @media screen and (max-width: $bp-md) {
    padding-top: 2em;
    padding-bottom: 1em;
  }
}

.rf-section--territories-single {
  ol {
    li {
      position: relative;
      margin-top: 2em;
      margin-bottom: 4em;
      &::before {
        content: counters(list-number, ".");
        position: absolute;
        display: block;
        top: -0.5em;
        left: -3em;
        width: 2em;
        height: 2em;
        margin: 0;
        padding: 0;
        line-height: 2em;
        font-size: 2em;
        text-align: center;
        border-radius: 50%;
        color: var(--w-bf500);
        background-color: var(--bf500);
      }
    }
  }
}

.rf-section--vousetes {
  .rf-card__desc {
    flex-grow: 1;
  }
}

.rf-section--stats {
  .card {
    height: 100%;
    .content {
      width: 180%;
      height: 170px;
      color: var(--bf500);
      @media screen and (max-width: $bp-md) {
        width: 100%;
      }
    }
    .link {
      margin: 0.5em 0 0;
      .rf-link {
        font-size: 80%;
        text-decoration: underline;
        &::before,
        &::after {
          content: none;
        }
      }
    }
    .image {
      padding: 0 1em;
      @media screen and (max-width: $bp-md) and (min-width: $bp-sm) {
        width: 20%;
        min-width: 0;
      }
      @media screen and (max-width: $bp-sm) {
        img {
          width: 40%;
          margin-top: 2em;
        }
      }
    }
  }
}

.rf-section--documentation {
  .card {
    .image {
      min-width: 50%;
      @media screen and (max-width: $bp-sm) {
        img {
          max-width: 33%;
        }
      }
    }
  }
}

.rf-section--tools {
  background-color: var(--w);
  @media screen and (max-width: $bp-sm) {
    .image img {
      max-width: 33%;
    }
  }
}

.rf-section--tools.reverse {
  background-color: var(--g300);
}

.rf-card__action {
  margin-bottom: 0;
}

.rf-section--contactform {
  textarea {
    resize: vertical;
    min-height: 229px;
  }
}
