@import "variables";
@import "./alert.scss";
@import "./card.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./helpers.scss";
@import "./maps.scss";
@import "./newsletter.scss";
@import "./partners.scss";
@import "./testimonials.scss";

.rf-section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.rf-btn {
  border-radius: 20px;
  box-shadow: none;
  padding: 0.3rem 1.5rem 0.5rem;
}

// remove 'external-link' icon from buttons
a[target="_blank"]:not(.no-icon),
a[target="_blank"].rf-btn:not(.no-icon) {
  &::after {
    font-size: 1rem;
    content: "";
    margin-left: 0.25rem;
    vertical-align: baseline;
  }
}

a.rf-link--outline {
  box-shadow: inset 0 0 0 1.3px currentColor;
}

a[name] {
  cursor: default;
}

.rf-section--bf500 {
  background-color: var(--bf500);
  &,
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4 !important;
    color: var(--w-bf500);
  }
  .rf-btn {
    background-color: var(--focus);
  }
  .rf-btn--secondary {
    background-color: var(--transparent);
    color: var(--w-bf500);
    box-shadow: inset 0 0 0 1px var(--w-bf500);
  }
}

.rf-section--banner {
  @extend .rf-section--bf500;
  padding-top: 6em;
  padding-bottom: 3em;
  .actions .rf-btn {
    margin: 0.5em;
  }
  @media screen and (max-width: $bp-md) {
    padding-top: 2em;
    padding-bottom: 1em;
  }
}

.rf-section--banner-newsletter {
  @extend .rf-section--banner;
  color: #000;
  background-color: var(--w-bf500);
  padding-bottom: 0;
  .title {
    color: var(--bf500);
  }
}

.rf-section--territories-single {

  ol.step {
    li.step {
      position: relative;
      margin-top: 2em;
      margin-bottom: 3em;

      
        div.territory-list {
          border: 1px solid #E2E2E2;
          z-index: 100;
          position: absolute;
          border-top: none;
          text-align: initial;
          border-bottom: none;
          background-color: #fff;
          width: 100%;
          
          div.territory-list-element {
            &:hover{
              background-color: #E2E2E2;
              cursor: pointer;
            }
          }
        
      }
 

      &::before {
        content: counters(list-number, ".");
        position: absolute;
        display: block;
        top: -3px;
        left: -3em;
        width: 2em;
        height: 2em;
        margin: 0;
        padding: 0;
        line-height: 55px;
        font-size: 2em;
        text-align: center;
        border-radius: 50%;
        color: var(--w-bf500);
        background-color: var(--bf500);
      }
    }
  }
}

.rf-section--whoweare {
  // tweak the stats section within whoweare
  & ~ .rf-section--stats {
    padding-top: 0;
  }
}

.rf-section--vousetes {
  .rf-card__desc {
    flex-grow: 1;
  }
}

.rf-section--stats {
  .card {
    height: 100%;
    .content {
      width: 180%;
      height: 170px;
      color: var(--bf500);
      @media screen and (max-width: $bp-md) {
        width: 100%;
      }
    }
    .link {
      margin: 0.5em 0 0;
      .rf-link {
        font-size: 80%;
        text-decoration: underline;
        &::before,
        &::after {
          content: none;
        }
      }
    }
    .image {
      padding: 0 1em;
      @media screen and (max-width: $bp-md) and (min-width: $bp-sm) {
        width: 20%;
        min-width: 0;
      }
      @media screen and (max-width: $bp-sm) {
        img {
          width: 40%;
          margin-top: 2em;
        }
      }
    }
  }
}

.rf-section--documentation {
  .card {
    .image {
      min-width: 50%;
      @media screen and (max-width: $bp-sm) {
        img {
          max-width: 33%;
        }
      }
    }
  }
}

.rf-section--tools {
  background-color: var(--w);
  @media screen and (max-width: $bp-sm) {
    .image img {
      max-width: 33%;
    }
  }
}

.rf-section--tools.reverse {
  background-color: var(--g300);
}

.rf-card__action {
  margin-bottom: 0;
}

.rf-section--contactform {
  textarea {
    resize: vertical;
    min-height: 229px;
  }
  .rf-btn--reset {
    appearance: none;
    font-family: inherit;
    border: none;
    color: var(--g700);
    background-color: transparent;
  }
  [for="email"],
  [name="email"] {
    display: none;
  }
}
