<header class="rf-header">
  <div class="rf-container">
    <div class="rf-header__body">
      <div class="rf-header__brand">
        <a class="rf-logo" href="/" title="Ministère de la transition écologique">
          <span class="rf-logo__title"> Ministère <br />de la transition<br />écologique </span>
        </a>
      </div>
      <div class="rf-header__navbar">
        <div class="rf-service">
          <a class="rf-service__title" href="#" title="{{ .Site.Title }}">{{ .Site.Title }}</a>
          <p class="rf-service__tagline">{{ .Site.Params.Baseline }}</p>
        </div>
      </div>
      <div class="rf-header__tools">
        <div class="rf-shortcuts">
          <ul class="rf-shortcuts__list">
            <li class="rf-shortcuts__item">
              <a href="/qui-sommes-nous" class="rf-link" target="_self">Qui sommes-nous&nbsp;?</a>
            </li>
            <li class="rf-shortcuts__item">
              <a href="/territoires" class="rf-link" target="_self">Territoires</a>
            </li>
            <li class="rf-shortcuts__item">
              <a href="/operateurs" class="rf-link" target="_self">Opérateurs</a>
            </li>
            <li class="rf-shortcuts__item">
              <a
                href="https://app.covoiturage.beta.gouv.fr/stats"
                class="rf-link"
                target="_blank"
                rel="noopener noreferrer"
                >Statistiques</a
              >
            </li>

            <!-- dark mode toggle -->
            <!-- <li class="rf-shortcuts__item">
              <div class="rf-checkbox-group">
                <input type="checkbox" id="rf-dark-mode-toggle-switch" name="rf-dark-mode-toggle-switch" />
                <label class="rf-label" for="rf-dark-mode-toggle-switch"></label>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="rf-section rf-section--bf500 h-text-center">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-8 rf-col-offset-2">
        <h1 class="title">{{ .Params.title }}</h1>
        <p class="subtitle">{{ .Params.subtitle }}</p>
        <p class="actions">
          {{ range .Params.actions }}
            {{ partial "button.html" . }}
          {{ end }}
        </p>
      </div>
    </div>
  </div>
</section>
