{{ $title := .Site.Data.stats.title }}
{{ $cards := .Site.Data.stats.cards }}
{{ if .IsHome }}
  {{ $cards = where $cards "pinned" true }}
{{ end }}

<div class="rf-section rf-section--stats">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-12">
        <h3 class="h-text-center">{{ $title }}</h3>

        <div class="rf-grid-row rf-grid-row--gutters">
          {{ range $cards }}
            <div class="rf-col-4">
              <div class="rf-card rf-card--no-arrow">
                <div class="rf-card__body">
                  <p class="rf-card__desc">{{ .description | markdownify }}</p>
                  <p>{{ partial "link.html" (dict "title" .link_title "href" .link_href) }}</p>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
