{{ define "banner" }}
  {{ partial "banner.html" .Params }}
{{ end }}

{{ define "main" }}
  <section class="rf-section rf-section--contactform">
    <form id="contact-form" action="{{ .Site.Data.contactform.action }}">
      <div class="rf-container">
        <div class="rf-grid-row">
          <div class="rf-col-6 rf-col-offset-3">
            {{/*  name  */}}
            <div class="rf-input-group">
              <label class="rf-label" for="name">Votre nom :</label>
              <input class="rf-input" type="text" id="name" name="name" minlength="1" maxlength="256" />
            </div>

            {{/*  company  */}}
            <div class="rf-input-group">
              <label class="rf-label" for="company">Votre collectivité/entreprise :</label>
              <input class="rf-input" type="text" id="company" name="company" minlength="1" maxlength="256" />
            </div>

            {{/*  job  */}}
            <div class="rf-input-group">
              <label class="rf-label" for="job">Votre fonction :</label>
              <input class="rf-input" type="text" id="job" name="job" minlength="1" maxlength="256" />
            </div>

            {{/*  email  */}}
            <div class="rf-input-group">
              <label class="rf-label" for="email">Votre courriel <span class="h-text-error">*</span> :</label>
              <input class="rf-input" type="text" id="email" name="email" required minlength="1" maxlength="256" />
            </div>

            {{/*  message  */}}
            <div class="rf-input-group">
              <label class="rf-label" for="message">Votre message <span class="h-text-error">*</span> :</label>
              <textarea class="rf-input" id="message" name="message" required minlength="1" maxlength="4096"></textarea>
            </div>

            <div class="rf-input-group h-text-right">
              <input type="submit" value="Envoyer" class="rf-btn" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>

  <script src="js/axios.min.js"></script>
  <script>
    var fm = document.forms[0];
    fm.addEventListener("submit", function (e) {
      e.preventDefault();

      var fd = new FormData(fm);

      axios({
        url: fm.getAttribute("action"),
        method: "POST",
        data: Object.fromEntries(fd.entries()),
        headers: {
          Accept: "application/json",
          "Content-type": "application/json",
        },
      })
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.error(error);
        });
    });
  </script>
{{ end }}
