{{ define "banner" }}
  {{ partial "banner.html" .Params }}
{{ end }}

{{ define "main" }}
  <section class="rf-section rf-section--contactform">
    <form id="contact-form" action="{{ .Site.Data.contactform.action }}">
      <div class="rf-container">
        <div class="rf-grid-row">
          <div class="rf-col-6 rf-col-offset-3">
            {{/*  name  */}}
            <div class="rf-input-group">
              <label class="rf-label" for="name">Votre nom :</label>
              <input class="rf-input" type="text" id="name" name="name" minlength="1" maxlength="256" />
            </div>

            {{/*  company  */}}
            <div class="rf-input-group">
              <label class="rf-label" for="company">Votre collectivité/entreprise :</label>
              <input class="rf-input" type="text" id="company" name="company" minlength="1" maxlength="256" />
            </div>

            {{/*  job  */}}
            <div class="rf-input-group">
              <label class="rf-label" for="job">Votre fonction :</label>
              <input class="rf-input" type="text" id="job" name="job" minlength="1" maxlength="256" />
            </div>

            {{/*  email  */}}
            <div class="rf-input-group">
              <label class="rf-label" for="liamenomtseicec">Votre courriel <span class="h-text-error">*</span> :</label>
              <input
                class="rf-input"
                type="text"
                id="liamenomtseicec"
                name="liamenomtseicec"
                minlength="1"
                maxlength="256"
              />
            </div>

            <label class="rf-label" for="email">Votre email <span class="h-text-error">*</span> :</label>
            <input class="rf-input" type="text" id="email" name="email" minlength="1" maxlength="256" />

            {{/*  message  */}}
            <div class="rf-input-group">
              <label class="rf-label" for="body">Votre message <span class="h-text-error">*</span> :</label>
              <textarea class="rf-input" id="body" name="body" required minlength="1" maxlength="4096"></textarea>
            </div>

            <div class="rf-input-group h-text-right">
              <input type="reset" value="Annuler" class="rf-btn rf-btn--reset" />
              <input type="submit" value="Envoyer" class="rf-btn" />
            </div>

            <div id="form-feedback" class="rf-alert rf-alert--success">
              <div>
                <h6 id="form-feedback-title">Erreur</h6>
                <p id="form-feedback-message">Une erreur s'est produite.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>

  <script src="js/axios.min.js"></script>
  <script>
    var fm = document.forms[0];
    fm.addEventListener("submit", function (e) {
      e.preventDefault();

      var delay = 5000;
      var timer = null;
      var el = document.getElementById("form-feedback");

      function show(title, message, type) {
        clearTimeout(timer);
        document.getElementById("form-feedback-title").innerText = title;
        document.getElementById("form-feedback-message").innerText = message;
        el.className = "rf-alert rf-alert--" + type + " shown";
        setTimeout(function () {
          hide();
        }, delay);
      }

      function hide() {
        clearTimeout(timer);
        el.classList.remove("shown");
      }

      var fd = new FormData(fm);

      var data = Object.create(null);
      for (const [key, value] of fd.entries()) {
        if (value && value.length) data[key] = value;
      }

      if ("email" in data && data.email !== "") {
        fm.reset();
        return;
      }

      if (!("liamenomtseicec" in data)) {
        show(
          "Courriel requis",
          "Merci d'indiquer l'adresse email à laquelle vous souhaitez être recontacté·e",
          "error"
        );
        return;
      }

      data.email = data["ceciestmonemail".split("").reverse().join("")];
      delete data.liamenomtseicec;

      axios({
        url: fm.getAttribute("action"),
        method: "POST",
        data: data,
        headers: {
          Accept: "application/json",
          "Content-type": "application/json",
        },
      })
        .then(function (response) {
          document.forms[0].reset();
          show("Merci !", "Votre message a bien été envoyé", "success");
        })
        .catch(function (error) {
          console.error(error);
          show("Erreur", error.message, "error");
        });
    });
  </script>
{{ end }}
