---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aides régionales">
  <main>
    <main>
      <section>
        <div class="fr-container fr-py-6w fr-px-2w">
          <h1>Des aides financières ou d'infrastructure spécifiques à votre territoire</h1>
        </div>
      </section>

      <section>
        <div class="fr-container fr-py-6w fr-px-2w">
          <ul>
            <li>Fonctionnement : ...</li>
            <li>Fonctionnement : ...</li>
          </ul>
        </div>
      </section>

      <section>
        <div class="fr-container fr-py-6w fr-px-2w">
          <p>Eligibilité</p>
        </div>
      </section>
    </main>
  </main>
</Layout>
