---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <section class="section-primary">
    <div class="fr-container fr-py-6w fr-px-2w">
      <h2>
        Ensemble faisons du covoiturage du quotidien une alternative de mobilité écologique, économique et sociale à
        l'autosolisme*.
      </h2>
      <p>
        <a href="/prime-de-100-euros" class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
          >Suis-je éligible à la prime de 100€ ?</a
        >
      </p>
    </div>
  </section>

  <section class="section-white">
    <div class="fr-container fr-py-6w fr-px-2w">
      <h3>Une prime de 100€ pour les nouveaux covoitureurs</h3>
      <ol>
        <li>Lorem lipsum dolor sit amet</li>
        <li>Lorem lipsum dolor sit amet</li>
        <li>Lorem lipsum dolor sit amet</li>
      </ol>
      <p>
        <a href="/prime-de-100-euros" class="fr-link fr-fi-arrow-right-line fr-link--icon-right">Plus d'informations</a>
      </p>
    </div>
  </section>

  <section class="section-white">
    <div class="fr-container fr-py-6w fr-px-2w">
      <h3>Un forfait mobilités durables pour les employé·es</h3>
      <ol>
        <li>Lorem lipsum dolor sit amet</li>
        <li>Lorem lipsum dolor sit amet</li>
        <li>Lorem lipsum dolor sit amet</li>
      </ol>
      <p>
        <a href="/forfait-mobilites-durables" class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
          >Plus d'informations</a
        >
      </p>
    </div>
  </section>

  <section class="section-white">
    <div class="fr-container fr-py-6w fr-px-2w">
      <h3>Des aides financières ou d'infrastructure spécifiques à votre territoire</h3>
      <ol>
        <li>Lorem lipsum dolor sit amet</li>
        <li>Lorem lipsum dolor sit amet</li>
        <li>Lorem lipsum dolor sit amet</li>
      </ol>
      <p>
        <a href="/aides-regionales" class="fr-link fr-fi-arrow-right-line fr-link--icon-right">Plus d'informations</a>
      </p>
    </div>
  </section>
</Layout>
