---
import Layout from "../layouts/Layout.astro";
---

<!-- TODO remplir les conditions légales -->
<Layout title="Mentions légales">
  <main>
    <div class="fr-container fr-py-6w fr-px-2w">Mentions légales</div>
  </main>
</Layout>
