@import "./dsfr";
@import "./_partials/footer.scss";

.padding-1em {
  padding: 1em;
}

.rf-section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.rf-section--secondary {
  background-color: var(--g200);
}

.rf-input-group--actions {
  text-align: right;
}

@media (max-width: 36em) {
  .rf-xs-hidden {
    display: none;
  }
}

.rf-label-link {
  display: flex;
  box-shadow: none;
}

.rf-footer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--g300);
  }

  padding-top: 2em;
  padding-bottom: 5em;
  background-color: var(--g700);
}

.h-text-center {
  text-align: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.partner-logo--item {
  padding: 1em;
  a {
    box-shadow: none;
    &::after {
      content: none;
    }
  }
}
.partner-logo--img {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-logo--title {
  display: block;
  margin-top: 0.5em;
  text-align: center;
  font-size: 0.8em;
}
