<footer class="rf-footer" role="contentinfo">
  <div class="rf-container">
    <div class="rf-footer__body">
      <div class="rf-footer__brand">
        <a class="rf-logo__inverted" href="#" title="république<br>française">
          <span class="rf-logo__title">république<br />française</span>
        </a>
      </div>
      <div class="rf-footer__content">
        <p class="rf-footer__content-desc">
          Une question, un problème&nbsp;?<br />
          Contactez-nous&nbsp;:
          <a href="mailto:contact@covoiturage.beta.gouv.fr">contact@covoiturage.beta.gouv.fr</a>
        </p>
        <p class="rf-footer__content-desc">
          Ce site a été développé par l'équipe du Registre de preuve de covoiturage, une Startup d'État de
          <em>beta.gouv.fr</em>.<br />
          Directeur de la publication&nbsp;: Nadi Bou Hanna, Directeur interministériel du numérique de l’État.
        </p>
        <p class="rf-footer__content-desc">
          Le
          <a href="https://github.com/betagouv/preuve-covoiturage-vitrine/" target="_blank" rel="noopener noreferrer"
            >code source est ouvert</a
          >
          sous licence Apache-2.0
        </p>
        <ul class="rf-footer__content-links">
          <li>
            <strong>À propos de nous</strong><br />
            <a href="https://beta.gouv.fr" target="_blank" rel="noopener noreferrer">beta.gouv.fr</a><br />
            <a
              href="https://doc.covoiturage.beta.gouv.fr/presentation/mentions-legales"
              target="_blank"
              rel="noopener noreferrer"
              >Mentions légales</a
            >
          </li>
          <li>
            <strong>Ressources</strong><br />
            <a href="https://doc.covoiturage.beta.gouv.fr" target="_blank" rel="noopener noreferrer">Documentation</a
            ><br />
            <a href="https://attestation.covoiturage.beta.gouv.fr" target="_blank" rel="noopener noreferrer">
              Attestation sur l'honneur
            </a>
            <br />
          </li>
          <li>
            <strong>Contactez-nous</strong><br />
            <a href="mailto:contact@covoiturage.beta.gouv.fr">contact@covoiturage.beta.gouv.fr</a><br />
            <a href="https://ecologie.gouv.fr" target="_blank" rel="noopener noreferrer">
              Ministère de la transition écologique
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="rf-footer__bottom">
      <div class="rf-footer__bottom-copy">© République Française 2020</div>
    </div>
  </div>
</footer>
