{{ define "banner" }}
{{ partial "banner.html" .Params }}
{{ end }}

{{ define "main" }}
<section class="rf-section rf-section--whoweare">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-12 rf-col-md-8 rf-col-offset-md-2">
        <p>Plus de 50 campagnes d’incitations financières au covoiturage sont actuellement menées par des collectivités.
          Grâce à ces campagnes, environ 1 majeur sur 3 est susceptible de bénéficier d’une aide financière pour
          effectuer un trajet en covoiturage.</p>
        <p>Toutes politiques d’incitation, financières ou non, attirent des comportements frauduleux. Dans le cadre de
          la distribution d’incitatifs financiers, les plateformes de covoiturage s’engagent auprès des collectivités
          commanditaires à lutter contre ces fraudes. Le registre de preuve de covoiturage apporte son appui technique
          aux plateformes de covoiturage et aux collectivités dans la mise en œuvre et dans le contrôle de cette
          mission.</p>
       
            <ul>Avec l’appuis du registre de preuve de covoiturage, ont été créés :
              <li>des “classes de confiance” : normalisation des niveaux de confiance progressifs quant à l’existence du
                trajet ;</li>
              <li>une “vignette identitée” : normalisation de la vérification de l’identité des usagers.</li>
            </ul>
       
        
        <p>Toute plateforme souhaitant assigner ses trajets à une classe ou se prévaloir de la vignette identité doit
          décrire l’ensemble des process internes et solutions techniques déployées pour s’y conformer.
        Des audits peuvent être menés par le registre de preuve de covoiturage pour valider la mise en place des
          engagements avancés par les plateformes de covoiturage.</p>
          <p>
            <ul>Ci-dessous, est résumé:
              <li>le fonctionnement des classes de preuve</li>
              <li>le fonctionnement de la vignette identité</li>
              <li>le fonctionnement des audits</li>
              <li>les enjeux du secteur et la feuille de route 2023 du registre</li>
            </ul>
          </p>
      
        <h2 style="margin-top: 110px;" id="les-classes-de-preuve-de-covoiturage">Les classes de preuve de covoiturage</h2>
       
          <p>
            <ul>Chaque trajet se voit attribuer une classe en fonction des mécanismes et processus de vérification du trajet
              mis en place par la plateforme de covoiturage.
              La classe de covoiturage est ainsi basée sur la finalité, c’est-à-dire sur ce que la plateforme de covoiturage
              partenaire certifie, et non sur les technologies mises en œuvre.
              <li>Classe A : la plateforme certifie la mise en relation avec intention de covoiturer ;</li>
              <li>Classe B : la plateforme certifie la mise en relation et le trajet d’un occupant du véhicule (conducteur
                ou passager) ;</li>
              <li>Classe C : la plateforme certifie la mise en relation, les trajets des occupants du véhicule et une
                identité distincte des occupants.</li>
            </ul>
          
        <ul>A noter que :
          <li>ces classes visent une finalité, le choix des dispositifs pour s'y conformer est à la main des plateformes de covoiturage.</li>
          <li>le niveau d’exigence des classes évoluent en parallèle de l’identification de nouvelles stratégies mises
            en place par les fraudeurs, et est discuté mensuellement avec les plateformes de covoiturage.</li>
          <li>une certaine tolérance est accordée aux plateformes de covoiturage ayant de faibles volumes de trajets ou
            des modèles de fonctionnement moins sensibles aux effets d’aubaine.</li>
          <li>enfin, les classes traitent en priorité des preuves de trajets sans focalisation spécifique sur les
            preuves d’identité, une “vignette identité” a donc été créée en complément.</li>
        </ul>
      </p>
      <div class="rf-table">
        <table>
          <caption>Classe de confiance par opérateur</caption>
          <thead>
            <tr>
              <th scope="col">Classes de confiance</th>
              <th scope="col">Classe A</th>
              <th scope="col">Classe B</th>
              <th scope="col">Classe C</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Plateformes de covoiturage</td>
              <td>Depoze, LePtitRoger</td>
              <td>Atchoum</td>
              <td>BlaBlaCar Daily, CoopGo, Ecov, Karos, Klaxit, La Roue Verte, Mobicoop, Mobigo, Mobil'Aude, Movici, OuestGo, PassPass Covoiturage, Picholines, StopNGo, Yacka, Ynstant</td>
            </tr>
          </tbody>
        </table>
      </div>
        
        <h2 style="margin-top: 110px;"  id="la-vignette-identité">La vignette identité</h2>
        <p>

        
        <div>En complément des preuves de trajets, un premier cadre commun sous la forme d’une labellisation “vignette
          identité” a été co construite avec les plateformes de covoiturage. Elle impose :
        <ul>pour le conducteur :
          <li>une vérification de sa pièce d’identité dès le 1er trajet incité
            un plafond de 45 trajets incités réalisés avec des profils passager dont la pièce d’identité n’a pas été
            vérifiée</li>
        </ul>
        <ul>pour le passager :
          <li>une vérification de sa pièce d’identité dès le 15ème trajets incités</li>
        </ul>
        <ul>A noter que :
          <li>la conformité à la “vignette identité” n’est pas obligatoire, en revanche, les collectivités peuvent
            l’imposer comme condition dans leur convention de partenariat avec les plateformes de covoiturage.</li>
          <li>la seule vérification de pièces d’identité n’empêche pas l’utilisation d’identités usurpées. Des travaux
            sont en cours afin de renforcer le cadre commun de vérifications à mettre en œuvre afin de prétendre à la
            vignette identitée.</li>
        </ul></p>

        <!-- <p>
          Plateformes de covoiturage ayant mis en place la vignette identité : <br/> <strong>BlaBlaCar Daily, Karos, Klaxit </strong> 
        </p> -->
         <div class="rf-table">
          <table>
            <thead>
              <tr>
                <th>Plateformes de covoiturage ayant mis en place la vignette identité</th>
                <th>BlaBlaCar Daily, Karos, Klaxit</th>
              </tr>
            </thead>
          </table>
          </div> 

        
        <h2 style="margin-top: 110px;"  id="les-audits-de-conformité">Les audits de conformité</h2>
        <p>Comme stipulé dans ses CGU, le registre de preuve de covoiturage peut effectuer à tout moment un audit pour
          contrôler la réalisation effective des procès de lutte contre la fraude déclarés par les plateformes.
          En 2022, des audits fonctionnels ont été réalisés auprès de Karos, Klaxit et BlaBlaCar Dally. Ils ont ainsi
          permis de valider la bonne conformité des dispositifs déclarés et mis en place. Des recommandations ont été
          formulées pour chacun d’eux et alimentent la feuille de route 2023 du registre de preuve de covoiturage.</p>
        <h2 style="margin-top: 110px;"  id="feuille-de-route">Feuille de route</h2>
        <p>
        <ul>Avec le déploiement de nouveaux dispositifs incitatifs pour le covoiturage, le ministère des Transports dans
          le cadre du Registre de preuve de covoiturage à fait de l’accompagnement des plateformes de covoiturage dans
          la lutte contre la fraude une de ses priorités pour 2023. Une feuille de route a été présentée et les premiers
          chantiers sur le sujet ont débuté, notamment :
          <li>Amélioration des mécanismes de détection de comportements suspicieux par le RPC</li>
          <li>Co création avec les plateformes de covoiturage d’un référentiel commun de solutions techniques pour
            lutter contre les fraudes à l’identité et les fraudes de simulation de covoiturage en transport en commun ;
          </li>
          <li>Messages de sensibilisation des conducteurs aux risques encourus en cas de fraude ;</li>
          <li>Limitation des gains maximaux d’incitatifs par conducteur et par mois ;</li>
          <li>Création d’un “club collectivités incitant au covoiturage” afin de partager et co construire des moyens de
            lutte contre les fraudes aux incitatifs.</li>
        </ul>
      </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
