{{ define "banner" }}
  {{ partial "banner.html" .Site.Data.home }}
{{ end }}

{{ define "main" }}
  {{ $data := .Site.Data.home }}

  {{/*  Expertise  */}}
  <section class="rf-section">
    <div class="rf-container">
      <div class="rf-grid-row">
        <div class="rf-col-12">
          <h2 class="title h-text-center">{{ $data.expertise_title }}</h2>

          <div class="rf-grid-row rf-grid-row--gutters">
            {{ range $data.expertise_list }}
              <div class="rf-col-12 rf-col-md-4">
                <div class="card vertical">
                  <div class="content">
                    <h4 class="title">{{- .title -}}</h4>
                    <div class="description">{{ .description | markdownify }}</div>
                  </div>
                  <div class="image"><img src="{{- .image -}}" alt="{{- .title -}}" /></div>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {{/*  stats  */}}
  {{ partial "stats.html" . }}

  {{/*  Testimonials  */}}
  {{ if .Site.Data.testimonials }}
    {{ if gt (len .Site.Data.testimonials.cards) 1 }}
      <script>
      var json = JSON.parse({{ .Site.Data.testimonials.cards | jsonify }});
      document.addEventListener('DOMContentLoaded', function () {
        var testimonials = Array.isArray(json) ? json.filter(i => i.title && i.description && i.title.length && i.description.length) : [];
        var desc = document.querySelector('#t-desc');
        var title = document.querySelector('#t-title');
        var logo = document.querySelector('#t-logo');
        var index = 0;

        document.querySelector('#t-prev').addEventListener('click', function (event) {
          event.preventDefault();
          t_set(index < testimonials.length -1 ? ++index : 0);
        });

        document.querySelector('#t-next').addEventListener('click', function (event) {
          event.preventDefault();
          t_set(index > 0 ? --index : testimonials.length -1);
        });

        function t_set(idx) {
          desc.innerHTML = testimonials[idx].description || '';
          title.innerHTML = testimonials[idx].title || '';
          logo.setAttribute('src', testimonials[idx].logo || '');
          logo.setAttribute('alt', testimonials[idx].title || '');
          index = idx;
        }
      });
    </script>
    {{ end }}

    <div class="rf-section rf-section--testimonials">
      <div class="rf-container">
        <div class="rf-grid-row">
          <div class="rf-col-12 rf-col-md-8 rf-col-offset-md-2">
            <h2 class="h-text-center">{{ .Site.Data.testimonials.title }}</h2>

            {{ if gt (len .Site.Data.testimonials.cards) 1 }}
              <div class="controls">
                <p id="t-prev"><span class="rf-fi-arrow-left-line" aria-hidden="true"></span></p>
                <p id="t-next"><span class="rf-fi-arrow-right-line" aria-hidden="true"></span></p>
              </div>
            {{ end }}

            {{ range first 1 .Site.Data.testimonials.cards }}
              <div class="testimonial">
                <div class="content">
                  <div class="description" id="t-desc">{{ .description }}</div>
                  <div class="author">
                    <p class="name" id="t-title">{{- .title -}}</p>
                    {{ if .logo }}<img class="logo" src="{{- .logo -}}" alt="{{- .title -}}" id="t-logo" />{{ end }}
                  </div>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  {{ end }}

  {{/*  Documentation  */}}
  <a name="outils"></a>
  <section class="rf-section rf-section--bf500 rf-section--documentation">
    <div class="rf-container">
      <div class="rf-grid-row">
        <div class="rf-col-12">
          <div class="card reverse">
            <div class="content">
              <h3 class="title">{{- $data.doc_title -}}</h3>
              <p class="description">{{- $data.doc_description | markdownify -}}</p>
              <p>{{ partial "button.html" (dict "title" $data.doc_link_title "href" $data.doc_link_href) }}</p>
            </div>
            <div class="image"><img src="{{- $data.doc_image -}}" alt="{{- $data.doc_title -}}" /></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{/*  Outils  */}}
  <section class="rf-section h-text-center">
    <div class="rf-container">
      <div class="rf-grid-row">
        <div class="rf-col-12">
          <h2>{{ $data.tools_title }}</h2>
        </div>
      </div>
    </div>
  </section>

  {{ range $index, $val := $data.tools }}
    {{ $reverse := "" }}
    {{ if eq (mod $index 2) 1 }}{{ $reverse = "reverse" }}{{ end }}
    <section class="rf-section rf-section--tools {{ $reverse }}">
      <div class="rf-container">
        <div class="rf-grid-row">
          <div class="rf-col-12 rf-col-lg-8 rf-col-offset-lg-2">
            <div class="card {{ $reverse }}">
              <div class="content">
                <h4 class="title">{{- $val.title -}}</h4>
                <p class="description">{{- $val.description | markdownify -}}</p>
                <p>{{ partial "button.html" (dict "title" $val.link_title "href" $val.link_href) }}</p>
              </div>
              <div class="image">
                <img src="{{- $val.image -}}" alt="{{- $val.title -}}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}

  {{ partial "vousetes.html" . }}
{{ end }}
