{{ define "main" }}

<!-- Comment ça marche ? -->

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-12">
        <div class="padding-1em">
          <h2>Comment ça marche ?</h2>

          <div class="rf-content-media">
            <div class="rf-responsive-vid">
              <iframe
                title="titre de l’iframe"
                class="rf-responsive-vid__player"
                src="https://www.youtube.com/embed/CV79xayKAfo"
                width="100%"
                height="100%"
                frameborder="0"
                allowfullscreen=""
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rf-grid-row">
      <div class="rf-col-4">
        <div class="padding-1em">
          <img src="/images/plateforme.webp" alt="Plateforme" />
          <h5>Plateforme</h5>
          <p>
            Une plateforme technique permettant à l’ensemble des opérateurs de covoiturage, volontaires, de faire
            converger et d’attester les trajets effectués par leurs utilisateurs.
          </p>
        </div>
      </div>
      <div class="rf-col-4">
        <div class="padding-1em">
          <img src="/images/label.webp" alt="Label" />
          <h5>Label</h5>
          <p>
            Un label qui permet aux collectivités de visualiser les différentes classes de preuve de covoiturage
            définies en fonction des mécanismes de vérification du trajet de l’opérateur de covoiturage.
          </p>
        </div>
      </div>
      <div class="rf-col-4">
        <div class="padding-1em">
          <img src="/images/outils.webp" alt="Outils" />
          <h5>Outils</h5>
          <p>
            Une boîte à outils et une équipe dédiée pour accompagner pas à pas, toutes collectivités volontaires, dans
            le développement du covoiturage sur leur territoire.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Registre de preuve de covoiturage -->

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-12">
        <div class="padding-1em">
          <h2>Le registre de preuve de covoiturage</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-4">
        <img src="/images/operateur.webp" alt="Opérateurs" class="img-responsive" />
      </div>
      <div class="rf-col-8">
        <div class="padding-1em">
          <h3>Opérateur</h3>
          <h4>Certifiez les trajets réalisés par vos usagers</h4>
          <p>
            Chaque trajet acheminé sur le registre se verra certifié avec une classe. En certifiant les trajets
            effectués par vos usagers, vous gagnez la confiance des acteurs publics avec qui vous collaborez. Ceux-ci
            seront alors plus enclins à valoriser le covoiturage via la distribution d'incitations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rf-section rf-section--secondary">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-8">
        <div class="padding-1em">
          <h3>AOM - Autorité Organisatrice de la Mobilité</h3>
          <h4>Distribuez des incitations sans crainte de fraude</h4>
          <p>
            Chaque trajet acheminé sur le registre se verra certifié avec une classe. En certifiant les trajets
            effectués par vos usagers, vous gagnez la confiance des acteurs publics avec qui vous collaborez. Ceux-ci
            seront alors plus enclins à valoriser le covoiturage via la distribution d'incitations.
          </p>
        </div>
      </div>
      <div class="rf-col-4">
        <img src="/images/territoire.webp" alt="Opérateurs" class="img-responsive" />
      </div>
    </div>
  </div>
</section>

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-4">
        <img src="/images/covoitureur.webp" alt="Opérateurs" class="img-responsive" />
      </div>
      <div class="rf-col-8">
        <div class="padding-1em">
          <h3>Covoitureurs</h3>
          <h4>Accédez à un bouquet d’incitations</h4>
          <p>
            Que vous soyez un covoitureur chevronné ou un novice, avec le registre de preuve de covoiturage vous avez la
            possibilité de bénéficier de divers avantages, grâce à votre bonne pratique de mobilité (places de piscines,
            prise en charge financière de votre trajet, places de parking gratuites, etc.).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Partenaires -->
<a name="territoires"></a>

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-12">
        <h2>Territoires pilotes</h2>
        <div class="rf-grid-row partner-logo">
          {{ range where .Site.RegularPages.ByTitle "Type" "territoires" }} {{ partial "listlogo.html" . }} {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Opérateurs -->
<a name="operateurs"></a>

{{ $operators := where .Site.RegularPages.ByTitle "Type" "operateurs" }}

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-12">
        <h2>Opérateurs compatibles avec la plateforme technique</h2>
        <div class="rf-grid-row partner-logo">
          {{ range where $operators "Params.linked" true }} {{ partial "listlogo.html" . }} {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Opérateurs en cours de liaison -->

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-12">
        <h2>Opérateurs en cours de liaison</h2>
        <div class="rf-grid-row partner-logo">
          {{ range where $operators "Params.linked" false }} {{ partial "listlogo.html" . }} {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Générateur d'attestations -->

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-4">
        <img src="/images/attestation.webp" alt="Attestation sur l'honneur de covoiturage" class="img-responsive" />
      </div>
      <div class="rf-col-8">
        <div class="padding-1em">
          <h3>Générateur d'attestation sur l'honneur de covoiturage</h3>

          <p>
            Dans le cadre du Forfait Mobilité Durable, si les accords entreprise de l'employeur le permettent, il est
            possible de communiquer une attestation sur l'honneur *.
          </p>

          <em
            >* D'autres options sont envisageables et peuvent être mises directement à disposition de votre opérateur de
            covoiturage.</em
          >

          <p>
            <a
              href="https://attestation.covoiturage.beta.gouv.fr"
              target="_blank"
              rel="noopener noreferrer"
              class="rf-btn"
            >
              Accéder au générateur
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Documentation -->

<section class="rf-section rf-section--secondary">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-8">
        <div class="padding-1em">
          <h3>Documentation</h3>

          <p>Vous souhaitez en savoir davantage sur le registre ?</p>

          <p>
            <a href="https://doc.covoiturage.beta.gouv.fr" target="_blank" rel="noopener noreferrer" class="rf-btn">
              Espace documentation
            </a>
          </p>
        </div>
      </div>
      <div class="rf-col-4">
        <img src="/images/documentation.webp" alt="Documentation" class="img-responsive" />
      </div>
    </div>
  </div>
</section>

<!-- Open Data -->

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-4">
        <img src="/images/attestation.webp" alt="Attestation sur l'honneur de covoiturage" class="img-responsive" />
      </div>
      <div class="rf-col-8">
        <div class="padding-1em">
          <h3>Open Data</h3>

          <p>Retrouvez les données anonymisées issues du registre de preuve de covoiturage sur data.gouv.fr.</p>

          <p>
            <a
              href="https://www.data.gouv.fr/fr/datasets/trajets-realises-en-covoiturage-registre-de-preuve-de-covoiturage/"
              target="_blank"
              rel="noopener noreferrer"
              class="rf-btn"
            >
              Open Data
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
