{{ define "banner" }}  
  {{ partial "banner.html" .Site.Data.home }}
{{ end }}

{{ define "main" }}
  {{ $data := .Site.Data.home }}

  {{/*  Expertise  */}}
  <section class="rf-section">
    <div class="rf-container">
      <div class="rf-grid-row">
        <div class="rf-col-12">
          <h2 class="title h-text-center">{{ $data.expertise_title }}</h2>

          <div class="rf-grid-row rf-grid-row--gutters">
          {{ range $data.expertise_list }}
            <div class="rf-col-4">
              <div class="card vertical">
                <div class="content">
                  <h4 class="title">{{- .title -}}</h4>
                  <div class="description">{{ .description | markdownify }}</div>
                </div>
                <div class="image"><img src="{{- .image -}}" alt="{{- .title -}}"></div>
              </div>
            </div> 
          {{ end }}
        </div>
        </div>
      </div>
    </div>
  </section>
 
  {{/*  stats  */}}
  {{ partial "stats.html" . }}

  {{/*  Testimonials  */}}
  <div class="rf-section rf-section--testimonials">
    <div class="rf-container">
      <div class="rf-grid-row">
        <div class="rf-col-8 rf-col-offset-2">
          <h2 class="h-text-center">{{ .Site.Data.testimonials.title }}</h2>
  
          {{ range .Site.Data.testimonials.cards }}
            <div class="testimonial">
              <div class="content">
                <div class="description">{{ .description }}</div>
                <div class="author">
                  <p class="name">{{- .title -}}</p>
                  {{ if .logo }}<img class="logo" src="{{- .logo -}}" alt="{{- .title -}}">{{ end }}
              </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  
  {{/*  Documentation  */}}
  <section class="rf-section rf-section--bf500 rf-section--documentation">
    <div class="rf-container">
      <div class="rf-grid-row">
        <div class="rf-col-12">

          <div class="card reverse">
            <div class="content">
              <h3 class="title">{{- $data.doc_title -}}</h3>
              <p class="description">{{- $data.doc_description | markdownify -}}</p>
              <p>{{ partial "button.html" (dict "title" $data.doc_link_title "href" $data.doc_link_href) }}</p>
            </div>
            <div class="image"><img src="{{- $data.doc_image -}}" alt="{{- $data.doc_title -}}"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{/*  Outils  */}}
  <section class="rf-section h-text-center">
    <div class="rf-container">
      <div class="rf-grid-row">
        <div class="rf-col-12">
          <h2>{{ $data.tools_title }}</h2>
        </div>
      </div>
    </div>
  </section>

  {{ range $index, $val := $data.tools }}
  {{ $reverse := "" }}
  {{ if eq (mod $index 2) 0 }}{{ $reverse = "reverse" }}{{ end }}
    <section class="rf-section rf-section--tools {{ $reverse }}">
      <div class="rf-container">
        <div class="rf-grid-row">
          <div class="rf-col-8 rf-col-offset-2">
            
              <div class="card {{ $reverse }}">
                <div class="content">
                  <h4 class="title">{{- $val.title -}}</h4>
                  <p class="description">{{- $val.description | markdownify -}}</p>
                  <p>{{ partial "button.html" (dict "title" $val.link_title "href" $val.link_href) }}</p>
                </div>
                <div class="image">
                  <img src="{{- $val.image -}}" alt="{{- $val.title -}}">
                </div>
              </div>

          </div>
        </div>
      </div>
    </section>
  {{ end }}

  {{ partial "vousetes.html" . }}
{{ end }}
